@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till min bokhylla!</h1>
    <hr>
    <p>Upptäck innehållet i min bokhylla och låna gärna!</p>
</div>

<div class="banner">
    <img src="~/img/books.jpg" alt="En hund som spanar över fjället">
</div>